[github]
	user = dysonance
	email = jamos125@gmail.com
[pull]
	rebase = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[alias]
    cane = "commit --amend --no-edit"
    root = "rev-parse --show-toplevel"
    stap = "!f() { git stash apply stash^{/$*}; }; f"
    summ = "log --stat --pretty=format:'%an %s %ad %H'"
